<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <Authorizing>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p role="alert" class="alert alert-warning">Autorizacija u toku...</p>
                            </div>
                        </div>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
        <PageTitle>Error 404</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404">
                            <h1>404</h1>
                        </div>
                        <h2>Stranica nije pronađena</h2>
                        <p>Stranica koju ste tražili ne postoji ili je privremeno nedostupna</p>
                        <a href="/">Nazad na početnu</a>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
